
 .svg-filters {
        position: absolute;
        width: 0;
        height: 0;
      }

      .glow-card {
        position: relative;
        padding: 2px;
        border-radius: 1.5rem;
        background: linear-gradient(
            -30deg,
            var(--gradient-color),
            transparent,
            var(--gradient-color)
          ),
          linear-gradient(to bottom, oklch(0.185 0 0), oklch(0.185 0 0));
      }

      .card-orange {
        --filter: url(#filter-orange);
        --border-color: #f97316;
        --light-color: oklch(from var(--border-color) l c h);
        --gradient-color: oklch(from var(--border-color) 0.3 calc(c / 2) h / 0.4);
      }

      .card-blue {
        --filter: url(#filter-blue);
        --border-color: #3b82f6;
        --light-color: oklch(from var(--border-color) l c h);
        --gradient-color: oklch(from var(--border-color) 0.3 calc(c / 2) h / 0.4);
      }

      .glow-inner {
        width: 22rem;
        aspect-ratio: 7 / 10;
        border-radius: 1.5rem;
        border: 2px solid var(--border-color);
        filter: var(--filter);
      }

      .glow-border-1,
      .glow-border-2,
      .overlay,
      .overlay-light,
      .bg-glow {
        position: absolute;
        inset: 0;
        border-radius: 1.5rem;
      }

      .glow-border-1 {
        border: 2px solid oklch(from var(--border-color) l c h / 0.6);
        filter: blur(1px);
      }

      .glow-border-2 {
        border: 2px solid var(--light-color);
        filter: blur(4px);
      }

      .overlay {
        mix-blend-mode: overlay;
        transform: scale(1.1);
        filter: blur(16px);
        background: linear-gradient(
          -30deg,
          white,
          transparent 30%,
          transparent 70%,
          white
        );
      }

      .overlay-light {
        opacity: 0.5;
      }

      .bg-glow {
        filter: blur(32px);
        transform: scale(1.1);
        opacity: 0.3;
        z-index: -1;
        background: linear-gradient(
          -30deg,
          var(--light-color),
          transparent,
          var(--border-color)
        );
      }

      .glass-label {
        background: radial-gradient(
            47.2% 50% at 50.39% 88.37%,
            rgba(255, 255, 255, 0.12) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          rgba(255, 255, 255, 0.04);
        border-radius: 14px;
        padding: 0.5em 1em;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.85em;
        color: rgba(255, 255, 255, 0.8);
        position: relative;
        width: fit-content;
      }

      .glass-label::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 1px;
        background: linear-gradient(
          150deg,
          rgba(255, 255, 255, 0.48) 16.73%,
          rgba(255, 255, 255, 0.08) 30.2%,
          rgba(255, 255, 255, 0.08) 68.2%,
          rgba(255, 255, 255, 0.6) 81.89%
        );
        border-radius: inherit;
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: xor;
        -webkit-mask-composite: xor;
        pointer-events: none;
      }

